/** @format */
@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
@import './my-theme.less';

#root {
    height: 100%;
    background-color: #fafcfe;
    min-width: @app-min-width;
    overflow: auto;
}

* {
    box-sizing: border-box;
}

.main-view {
    position: relative;
    margin-top: @layout-header-height + 10px;
    height: calc(100% - @layout-header-height - 10px);
    display: flex;
}

.content {
    background-color: @content-background;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: @scrollbar-background;
    border-radius: 4px;

    &:hover {
        background-color: darken(@scrollbar-background, 10%);
    }

    &:active {
        background-color: darken(@scrollbar-background, 30%);
    }
}

.transparency {
    opacity: 0.2;
    transition: opacity ease-in 1s;
    &:hover {
        opacity: 1;
    }
}
