.card-container {
	width: 400px;
	height: 280px;
	display: flex;
	flex-direction: column;
	text-align: center;

	.header {
		display: flex;
		justify-content: center;
	}
	.form {
		flex-grow: 1;
		mat-form-field {
			width: 80%;
		}
	}
	button {
		width: 100px;
	}
}
