<mat-card class="card-container">
	<mat-card-header class="header">
		<mat-card-title class="title"> login </mat-card-title>
	</mat-card-header>
	<mat-card-content class="form">
		<form [formGroup]="user">
			<mat-form-field appearance="outline">
				<mat-label>用户名</mat-label>
				<input
					matInput
					placeholder="请输入用户名"
					formControlName="username"
					required
				/>
				<mat-error
					*ngIf="username.invalid && (username.dirty || username.touched)"
				>
					<div *ngIf="username.errors && username.errors.required">
						用户名必填
					</div>
				</mat-error>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>密码</mat-label>
				<input
					type="password"
					matInput
					placeholder="请输入密码"
					formControlName="password"
					required
				/>
				<mat-error
					*ngIf="password.invalid && (password.dirty || password.touched)"
				>
					<div *ngIf="password.errors && password.errors.required">
						密码必填
					</div>
				</mat-error>
			</mat-form-field>
		</form>
	</mat-card-content>
	<mat-card-actions>
		<mat-error>
			{{error}}
		</mat-error>
		<button
			[disabled]="user.invalid"
			mat-raised-button
			color="primary"
			(click)="login()"
		>
			登录
		</button>
	</mat-card-actions>
</mat-card>
